<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/basic.css" media="screen" />

</head>
<body>

<div class="BildStart">
    <div class="bildOben">
        <h1 style="font-size:50px">Cookie Shop</h1>
    </div>
</div>

<?php
                    session_start();
                    if (isset($_SESSION["Benutzer"])) {

                       $user = $_SESSION["Benutzer"];

                    }else{
                        $user = "Ihr Account";
                }

?>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <input type="text" placeholder="Search..">
                <button type="submit"><i class="fa fa-search"></i></button>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span><?php echo $user ?></a></li>

                <?php if ($warenkorb==1) { ?>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Wahrenkorb</a></li>
                <?php } else { ?>
                <?php } ?>

            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <?php
    if (isset($_SESSION["Benutzer"])) {

                       $user = $_SESSION["Benutzer"];
                       $warenkorb = 1;
                    }else{
                        $user = "Ihr Account";
                        $warenkorb = 0;
                }

        if (isset($_SESSION["produkt"])) {
            $counter = 0;
            $peter[] = ($_SESSION["produkt"]);

            foreach($peter as $data){
                while($counter < count($data)){
                    //echo $data[$counter]['Bezeichnung'];
                    $Bild = "../Bilder/".$data[$counter]['Bild'];
                    $Beschreibung = $data[$counter]['Beschreibung'];
                    $Überschrift = $data[$counter]['Bezeichnung'];
                    $Preis = $data[$counter]['Preis'];
                    $IDProdukt = $data[$counter]['IDProdukt'];
                    //echo $Bild;
                    //echo $Beschreibung;
                    //echo $Überschrift;
                    //echo $Preis;
    ?>
    <form action="warenkorb.php" method="post">
    <div class="row">
        <div class="col-sm-8">
            <h1><?php echo $Überschrift ?></h1>
            <div class="produktbild"><img src="<?php echo $Bild ?>" alt="Image" style="float:left"; width="250" height="200" ></div>

            <div class="col-sm-8">
                <p> <?php echo $Beschreibung ?> </p>

                <div class="col-sm-6">
                    <p> Preis: <?php echo $Preis ?> €/100 gramm  </p>
                </div>

                <div class="col-sm-6">

                    <?php if ($warenkorb==1) { ?>
                    <button name="warenkorbid" value="<?php echo $IDProdukt ?>" class="btn btn-black btn-block"  style="color:white">In den Warenkorb</button>

                    <?php } else { ?>
                    <?php } ?>


                </div>

            </div>

        </div>
    </div>


    </form>
    <?php
                        $counter = $counter + 1;
                        //echo count($data);
                    }
                }// Ende foreach
            }else{
                echo 'Nix registriert';
        }
    ?>

</div><br>

<br><br>

<footer class="container-fluid text-center">
    <div class="Bildunten">
    </div>
</footer>

</body>
</html>
