<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/basic.css" media="screen" />

</head>
<body>

<div class="BildStart">
    <div class="bildOben">
        <h1 style="font-size:50px">Cookie Shop</h1>
    </div>
</div>

<?php
                    session_start();
                    if (isset($_SESSION["Benutzer"])) {

                       $user = $_SESSION["Benutzer"];
                       $warenkorb = 1;
                    }else{
                        $user = "Ihr Account";
                        $warenkorb = 0;
                }

?>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span><?php echo $user ?></a></li>

                <?php if ($warenkorb==1) { ?>
                <li><a href="/warenkorbholen"><span class="glyphicon glyphicon-shopping-cart"></span>Warenkorb</a></li>
                <li><a href="/logout"><span class="glyphicon "></span>Logout</a></li>
                <?php } else { ?>
                <?php } ?>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div>
            <p>Schön, dass Sie sich für einen leckeren Cookie interessieren, jetzt dauert es nicht mehr lange bis der Cookie bei Ihnen daheim ist!!</p>
        </div>

    </div>
</div><br>

<div class="container">
    <?php
        if (isset($_SESSION["warenkorb"])) {
            $counter = 0;
            $peter[] = ($_SESSION["warenkorb"]);

            foreach($peter as $data){
                while($counter < count($data)){
                    //echo $data[$counter]['Bezeichnung'];
                    $Bild = "../Bilder/".$data[$counter]['Bild'];
                    $Beschreibung = $data[$counter]['Beschreibung'];
                    $Überschrift = $data[$counter]['Bezeichnung'];
                    $Preis = $data[$counter]['Preis'];
                    $IDProdukt = $data[$counter]['IDProdukt'];
                    $Menge = $data[$counter]['Menge'];
                    //echo $Bild;
                    //echo $Beschreibung;
                    //echo $Überschrift;
                    //echo $Preis;
    ?>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <form action="warenkorb_loeschen.php" method="post">
        <div class="row">
            <div class="col-sm-8">
                <h1><?php echo $Überschrift ?></h1>
                <div class="produktbild"><img src="<?php echo $Bild ?>" alt="Image" style="float:left"; width="250" height="200" ></div>

                <div class="col-sm-8">
                    <p> <?php echo $Beschreibung ?> </p>

                    <div class="col-sm-6">
                        <p> Preis: <?php echo $Preis ?> €/100 gramm  </p>
                        <p> Menge: <?php echo $Menge ?></p>

                        <button name="ButtonLoeschen" id="loeschen" value="<?php echo $IDProdukt ?>" class="btn btn-black btn-block"  style="color:white">Produkt entfernen</button>
                    </div>

                </div>

            </div>
        </div>


    </form>

    <?php
                        $counter = $counter + 1;
                        //echo count($data);
                    }
                }// Ende foreach
            }else{
                echo 'Nix registriert';
        }
    ?>
</div><br><br>


<br>

<?php
        if (isset($_SESSION["warenkorb"])) {
        if($_SESSION["warenkorb"]!=null){
 ?>
<div class="container">
<form action="alles_bestellen.php" method="post">
    <button name="ButtonBestellen" id="bestellen" value="" class="btn btn-black btn-block"  style="width: 250px; color:white">Alles bestelllen</button>
</form>


    <?php
    }
     }
    ?>
    <br>
</div>
<footer class="container-fluid text-center">
    <div class="Bildunten">
    </div>
</footer>

</body>
</html>
